{{template "header.html" .}}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {{range .Files}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225" alt="Thumbnail [100%x225]"
                         src="{{.Url}}" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Дата {{.Time}}</p>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </div>
</div>
{{template "footer.html" .}}